<!DOCTYPE html>
<html lang="en">
<head>
	<!--metadata-->
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!--website logo-->
	<link href="../static/img/muffin.png" rel="icon">
    <!--title-->
	<title>Muffin</title>
    <!--bootstrap css-->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--custom css-->
	<link href="../static/css/style.css" rel="stylesheet">
    <!--jquery for menu animation-->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--clipboard js for copy to clipboard feature-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script>
        /*change recipient forms*/
            $(document).ready(function(){
            $("#select-recipient-type-form").change(function(){
                $(this).find("option:selected").each(function(){
                    let optionValue = $(this).attr("value");
                    if(optionValue){
                        $(".recipient-form").not("#" + optionValue).hide();
                        $("#" + optionValue).show();
                    } else{
                        $(".recipient-form").hide();
                    }
                });
            }).change();
        });
    </script>
</head>

<body>

<div class="container">
    <!--bills sections header-->
    <div class="section-header">
        <h2>Webhook Subscriptions</h2>
    </div>
    <!--close bills sections header-->
    <div class="row">
        <div class="col-lg-9">
        <!--suppliers table-->
        <div class="table-responsive table-striped">
            <table class="table">
                <thead style="background: #17a2b8; color: white">
                <tr>
                    <th>Webhook Event Type</th>
                </tr>
                </thead>
                <tr>
                    <td>{{ webhook }}</td>
                </tr>

            </table>
        </div>
        <!--close suppliers table-->
    </div>
    </div>
</div>

<script>
            /*handle menu toggle*/
	         $("#menu-toggle").click(function(e) {
	             e.preventDefault();
	             $("#wrapper").toggleClass("toggled");
	         });

	         /* copy to clipboard*/
	         let clipboard = new ClipboardJS(".copy-button");
	         clipboard.initialize();
	         clipboard.destroy();

	</script>
    <!--solid js fontawesome lib-->
	<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/solid.js"></script>
    <!--fontawesome js for icons-->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/fontawesome.js"></script>
    <!--bootstrap js-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
